.address {
    font-family: 'Roboto';
    font-style: normal;
    letter-spacing: 0.03em;

&__list {
    display: flex;
    flex-direction: column;
    gap: 9px;
}

&__text {
    color: $White;
    line-height: 1.7;
    text-decoration: none;
}
}

.address__link {
    color: rgba(255, 255, 255, 0.6);
    line-height: 1.7;
    text-decoration: none;
    transition: color 250ms $timing-function;

&:hover,
&:focus {
    color: $accent-color;
}
}