.footer__address {
    font-family: 'Roboto';
    font-style: normal;
    letter-spacing: 0.03em;
}
// footer-logo
.footer__logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;

    display: flex;
    margin-bottom: 20px;

    text-decoration: none;
    color: var(--White);
}
.address {
    display: flex;
    flex-direction: column;
    gap: 9px;
}

.address__text {
    color: var(--White);
    line-height: 1.7;
    text-decoration: none;
}

.address__link {
    color: rgba(255, 255, 255, 0.6);
    line-height: 1.7;
    text-decoration: none;
    transition: color 250ms var(--timing-function);
}

.address__link:hover,
.address__link:focus {
    color: var(--acent-color);
}