// header-logo
.logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
        
    text-decoration: none;
    color: var(--acent-color);
}
.logo—black-piece {
    margin-right: 93px;
}
.logo—white-piece {
    display: flex;
    margin-bottom: 20px;
}